.componant_gen div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.componant_gen div input {
    padding: 20px;
    text-align: center;
    width: 25%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #ecf0f3;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;

    color: white;
    background-color: #0e1315;

}

.componant_gen div label,
.componant_gen div input {
    font-weight: 500;
}

input::placeholder {
    font-size: 2em;
}


.componant_gen div label {
    padding: 10px;
    font-size: 23px;
    margin-bottom: 1vh;
}


.error {
    color: #ff0256;
}


.componant_control {
    margin-top: 2vh;
    text-align: center;
}

.fin {
    margin-top: 2vh;
    font-size: 18px;
    color: #ff0256;
}

.none {
    display: none;
}

.block {
    display: block;
}

@media (max-width: 821px) {
    #alarm {
        justify-content: space-evenly;
    }

    /* #alarm-text {
        font: size 2vw;
    } */


}

@media (max-width: 391px) {
    #alarm {
        justify-content: space-evenly
    }

    #alarm-text {
        font: size 2vw;
    }


}